/* ----------------------- CAUANA ----------------------- */

body {
  background-image: url(../img/wallpaper1.jpg);
  background-position: center;
}
h2 {
  font-family: 'Bungee', cursive;
  font-size: 45px;
  color: #f7f6df;
  text-shadow: 1px 7px 1px #b11602;
  text-align: center;
  margin: 20px;
}

.instrutions {
  display: flex;
  flex-direction: column;
  
}

.title-instrutions {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  color: #f7f6df;
  text-shadow: 1px 2px 1px #195852;
}

.hidden {
  display: none;
}

.game-hidden {
  display: none;
}

.show-game {
  display: flex;
}

.instrutions p {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 20px;
  
}

#div-play {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: white;
  margin: 2px 20px 10px 20px;
  font-family: 'Chakra Petch', sans-serif;
}
ol li {
  font-size: 14px;
  text-shadow: 2px 2px 1px black;
  margin: 6px 0px 6px 0px;
  display:flex;
  text-align: center;
}

.player1 {
  background-image: url("../img/player1.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.player2 {
  background-image: url("../img/player2.png"); /* Adicionar background positon center */
  background-size: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

button {
  background-color: #d83806;
  font-family: 'Bungee', cursive;
  font-size: 22px;
  color: white;
}

button:hover {
  background-color: white;
  color: #012945;
  cursor: pointer;
  transform: scale(1.2);
}

#play {
  animation: tremer .2s;
  animation-iteration-count: infinite;
}

@keyframes tremer {
  0% {margin-left: 0;}
  25% {margin-left: 7px;}
  50% {margin-left: 0;}
  75% {margin-left: -7px;}
  100% {margin-left: 0;}
}

/* ----------------------- CAUANA ----------------------- */

/* ------------------------ MERO ------------------------ */

main {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 8vw; */
  /* height: 70vh; */
}

.cell {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center; /* alinhar a bolinha */
  align-items: center; /* alinhar a bolinha */
  /* flex-grow: 1; */
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 0;
}

/* ------------------------ MERO ------------------------ */

/* ------------------------ MAURO ----------------------- */

/* ------------------------ MAURO ----------------------- */

/* ----------------------- VAGNER ----------------------- */

/* ----------------------- VAGNER ----------------------- */
