/* ----------------------- CAUANA ----------------------- */

@font-face {
  font-family:'Bad Grunge';
  src: url('BAD GRUNGE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../img/wallpaper1.jpg);
  background-position: top;
}
h2 {
  font-family: 'Bad Grunge','Bungee', cursive;
  font-size: 70px;
  color: #f7f6df;
  text-shadow: 1px 7px 1px #b11602;
  text-align: center;
  margin: 20px;
  line-height: 50px;
}

.instrutions {
  display: flex;
  flex-direction: column;
  
}

.title-instrutions {
  font-family: 'Bad Grunge','Bungee', cursive;
  font-size: 40px;
  color: #f7f6df;
  text-shadow: 1px 2px 1px #195852;
}

.hidden {
  display: none;
}

.game-hidden {
  display: none;
}

.show-game {
  display: flex;
}

.instrutions p {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px;
  
}

#div-play {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: white;
  margin: 10px;
  font-family: 'Chakra Petch', sans-serif;
}

ol li {
  font-size: 14px;
  text-shadow: 2px 2px 1px black;
  margin: 6px 0px 6px 0px;
  display:flex;
  text-align: center;
}

.player1 {
  background-image: url("../img/kong.png");
  background-size: contain;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation-name: queda;
  animation-duration: 2s;
}

.player2 {
  background-image: url("../img/godzilla.png"); /* Adicionar background positon center */
  background-size: contain;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation-name: queda;
  animation-duration: 2s;
}

button {
  background-color: #012945;
  font-family: 'Bad Grunge','Bungee', cursive;
  font-size: 30px;
  color: white;
}

button:hover {
  background-color: white;
  color: #012945;
  cursor: pointer;
  transform: scale(1.2);
}

#play {
  animation: tremer .1s;
  animation-iteration-count: infinite;
}
@keyframes queda {
  0%{transform: translateY(-600%);}
  25%{transform: translateY(20%);}
  50%{transform: translateY(0%);}
  100%{transform: translateY(0%);}
}

@keyframes tremer {
  25% {margin-left: 3px;}
  50% {margin-left: 0;}
  75% {margin-left: -3px;}
  100% {margin-left: 0;}
}

/* ----------------------- CAUANA ----------------------- */

/* ------------------------ MERO ------------------------ */

main {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  /* background-color: #b11602;
  opacity: 80%; */
  
  /* width: 8vw; */
  /* height: 70vh; */
}

.cell {
  border: solid 1.5px white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 85%;
  justify-content: center; /* alinhar a bolinha */
  align-items: center; /* alinhar a bolinha */
  /* flex-grow: 1; */
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
}

#divPlayer {
  display:flex;
  justify-content: center;
}

.nextPlayer {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  color: #f7f6df;
  text-shadow: 1px 2px 1px #195852;
}

/* ------------------------ MERO ------------------------ */

/* ------------------------ MAURO ----------------------- */

/* ------------------------ MAURO ----------------------- */

/* ----------------------- VAGNER ----------------------- */

/* ----------------------- VAGNER ----------------------- */

@media (min-width: 720px) {
  h2 {
    font-size: 100px;
    margin-bottom: 30px;
  }

  .cell {
    width: 55px;
    height: 55px;
  }

  .player1 {
    width: 47px;
    height: 47px;
  }

  .player2 {
    width: 47px;
    height: 47px;
  }

}